<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Rezervari ASMI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/taskman.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="widget-box" id="recent-box" ng-controller="projectController">
        <div class="widget-header header-color-blue">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="bigger lighter">
                        <i class="glyphicon glyphicon-align-justify"></i>&nbsp;
                        REZERVARI ASMI
                    </h4>
                </div>

                <div class="col-sm-6" align="right">

                    <button ng-click="addNewClicked=!addNewClicked;" class="btn btn-sm btn-danger header-elements-margin"><i class="glyphicon  glyphicon-plus"></i>&nbsp;Add New Project</button>

                </div>
            </div>
        </div>
        <div class="widget-body ">
            <form ng-init="addNewClicked=false; " ng-if="addNewClicked" id="newTaskForm" class="add-task">
                <div class="form-actions">
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="name" ng-model="name" placeholder="Project Name" ng-focus="addNewClicked">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="description" ng-model="description" placeholder="Project Description" ng-focus="addNewClicked">
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" ng-click="addProject(name,description,1)" style="width:100%;"><i class="glyphicon glyphicon-plus"></i>&nbsp;Adauga Proiect</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="task" ng-repeat="project in projects">
                <label class="checkbox">

                    <span ng-class="{strike:task.STATUS==2}"><h4>{{project.name}} <small>{{project.description}}</small> <a ng-click="deleteTask(project.ID)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a></h4></span>

                </label>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form id="newTableForm" class="add-task">
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="TableName" ng-model="TableName" placeholder="Titlu Masa" ng-focus="addNewClicked">
                                            </div>

                                            <div class="col-sm-2">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="submit" ng-click="addTable(project.ID,TableName)" style="width:100%;"><i class="glyphicon glyphicon-plus"></i>&nbsp;Adauga Masa</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Mese</div>
                            <div class="panel-body" style="padding:0px;">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Nume Masa</th>
                                            <th style="width:10%;">Sterge</th>
                                            <th style="width:10%;">Adauga</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="table in tables" ng-if="table.projectID==project.ID">
                                        <td>{{table.name}}</td>
                                        <td><button class="btn btn-danger btn-sm" ng-class="{ 'disabled' : table.blocked == '1' }"><span class="glyphicon glyphicon-trash"></span> Sterge</button></td>
                                        <td><button class="btn btn-primary btn-sm" ng-click="addRezervation(table.ID,table.name,project.ID)" ng-class="{ 'disabled' : table.blocked == '1' }">Adauga la Rezervari <span class="glyphicon glyphicon-chevron-right"></span></button></td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Rezervari</div>
                            <div class="panel-body" style="padding:0px;">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Nume Masa</th>
                                            <th>e-mail</th>
                                            <th>Telefon</th>
                                            <th>Data</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="rezervation in rezervations" ng-if="rezervation.projectID==project.ID" ng-class="{ 'danger' : rezervation.status == 'Nerezervat' }">
                                        <td>{{rezervation.tableName}}</td>
                                        <td>{{rezervation.email}}</td>
                                        <td>{{rezervation.telephone}}</td>
                                        <td>{{rezervation.c_date}}</td>
                                        <td>{{rezervation.status}}</td>
                                        <td>
                                            <button class="btn btn-success btn-sm" ng-class="{ 'disabled' : rezervation.status == 'Nerezervat' }" ng-click="confirmare(rezervation.ID)"><span class="glyphicon glyphicon-ok"></span></button>
                                            <button class="btn btn-primary btn-sm" ng-class="{ 'disabled' : rezervation.status != 'Nerezervat' }" data-toggle="modal" data-target="#Rezervari_{{rezervation.ID}}"><span class="glyphicon glyphicon-edit"></span></button>
                                            <button class="btn btn-danger btn-sm" ng-class="{ 'disabled' : rezervation.status != 'Nerezervat' }"><span class="glyphicon glyphicon-trash"></span></button>
                                            <div class="modal fade" id="Rezervari_{{rezervation.ID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">{{rezervation.tableName}}</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form role="form">
                                                                <div class="form-group">
                                                                    <label for="exampleInputEmail1">Email</label>
                                                                    <input type="email" class="form-control" id="" placeholder="Enter email" ng-model="RezervareEmail">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">Telefon</label>
                                                                    <input type="text" class="form-control" placeholder="Telefon" ng-model="RezervareTelefon">
                                                                </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">M-am razgandit</button>
                                                            <button type="submit" class="btn btn-primary" ng-click="AdaugaRezervare(RezervareEmail,RezervareTelefon,rezervation.ID,'In Asteptare',rezervation.tableID)">Trimite</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
</body>
</html>
